body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #eceded;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* header */

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.header-logo {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111;
}
.logo-first-part {
  font-style: italic;
}

.header-nav-list {
  display: none;
}

.header-social-list {
  display: none;
}

/* mobile-menu */

.header-mobile-menu {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.modal-menu-mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1e1823;
  padding-top: 136px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-menu-mobile.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-mobile-close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-mobile-icon-close {
  stroke: #fff;
}

.menu-nav {
  max-width: 124px;
  justify-content: start;
  margin-left: auto;
  margin-right: auto;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.menu-soc-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 18px;
}

.menu-soc-icon {
  stroke: #fff;
}

.menu-soc-item {
  width: 22px;
  height: 22px;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 80px;
    width: 100%;
  }

  .header-mobile-menu {
    display: none;
  }

  .header-nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }

  .header-menu-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header-social-list {
    display: flex;
    flex-direction: row;
    gap: 18px;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }

  .header-social-link {
    padding: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .header-soc-icon {
    stroke: #000;
    fill: transparent;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    font-size: 18px;
    line-height: 1.11;
  }

  .header-social-link {
    width: 24px;
    height: 24px;
  }
}

/* start-page */

.start-page {
  padding-bottom: 60px;
}

.start-page-content {
  width: 100%;
  height: 620px;
  background-image: url(../images/chocolate-covered-cocoa-powder@m.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  align-items: baseline;
  justify-content: end;
}

@media screen and (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  .start-page-content {
    background-image: url(../images/chocolate-covered-cocoa-powder@m@2x.jpg);
  }
}

.start-page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: start;
  max-width: 290px;
}

.start-page-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14px;
  margin-bottom: 32px;
  width: 100%;
}

.start-page-first-btn {
  border: none;
  border-radius: 100px;
  padding: 12px 28px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.start-page-first-btn:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

.start-page-second-btn {
  border: 1px solid #fff;
  border-radius: 100px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 12px 28px;
}

.start-page-second-btn:hover {
 border: 1px solid #fd9222;
  color: #fd9222;
}

.start-page-scroll {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: start;
}

.start-page-scroll-btn {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fff;
  padding-top: 7px;
  padding-bottom: 7px;
}

.start-page-scroll-icon {
  border-radius: 50%;
  background-color: #fafafa;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fd9222;
}

@media screen and (min-width: 768px) {
  .start-page {
    padding-bottom: 40px;
  }

  .start-page-content {
    height: 890px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 40px 40px;
    background-image: url(../images/chocolate-covered-cocoa-powder-t.jpg);
  }

  .start-page-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.22;
    letter-spacing: -0.03em;
    max-width: 484px;
  }

  .start-page-btn-box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    height: 45px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  .start-page-content {
    background-image: url(../images/chocolate-covered-cocoa-powder-t@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .start-page {
    padding-bottom: 72px;
  }
  .start-page-content {
    max-height: 600px;
    background-image: url(../images/chocolate-covered-cocoa-powder-pc.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  .start-page-content {
    background-image: url(../images/chocolate-covered-cocoa-powder-pc@2x.jpg);
  }
}

/* benefits */

.benefits-page {
  background-color: #1e1823;
}

.benefits-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.benefits-page-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.benefits-page-item {
  width: 308px;
}
.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefits-page-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.benefits-page-icon {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-icon {
  stroke: #fd9222;
  fill: #fd9222;
}

@media screen and (min-width: 768px) {
  .benefits-page {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .decor-line-primary,
  .decor-line-secondary {
    display: none;
  }

  .benefits-page-list {
    display: grid;
    gap: 32px 32px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
    .benefits-page-list {
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: space-between;
  }

  .benefits-page-item {
    position: relative;
  }

  .decor-line-primary {
    display: block;
  }

  .decor-line-secondary {
    display: block;
  }

  .decor-line-primary::after {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 124px;
    height: 0px;
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    left: -118px;
  }

  .decor-line-secondary::after {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 124px;
    height: 0px;
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    left: -118px;
  }
}

/* features-page */

.feats-page {
  padding-top: 60px;
  padding-bottom: 60px;
}

.feats-page-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.feats-page-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  margin-bottom: 32px;
}

.feats-page-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.feats-page-list-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.feats-page-list-item {
  width: 335px;
  height: 270px;
  padding: 28px 56px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: grid;
  gap: 25px;
}

.feats-page-list-item.chocolate,
.feats-page-list-item.nuts {
  color: #fff;
}

.feats-page-list-item.chocolate {
  background-color: #fd9222;
}

.feats-page-list-item.nuts {
  background-color: #1e1823;
}

.feats-page-list-item.semi,
.feats-page-list-item.milk {
  border: 1px solid #fd9222;
  background-color: #fff;
}

.feats-inform-subtitle {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.feats-inform-btn {
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: start;
}

.feats-inform-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.feats-inform {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #111;
  transform: translateY(100%);
  align-items: center;
  background-color: #fafafa;
  border-radius: 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px;
}

.feats-page-list-item:hover .feats-inform {
  transform: translateX(0);
}

.feats-page-list-item:hover {
  border: none;
}

.feats-btn-primary {
  border: none;
  border-radius: 35px;
  background-color: #fd9222;
  padding: 6px 16px;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  max-height: 24px;
}
.feats-btn-secondary {
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  max-height: 24px;
  font-size: 10px;
  line-height: 1.2;
  color: #111;
  background-color: transparent;
}

.color-orange {
  color: #fd9222;
}

@media screen and (min-width: 768px) {
  .feats-page {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .feats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .feats-page-title {
    width: 411px;
  }

  .feats-page-text {
    width: 486px;
  }

  .feats-page-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 32px;
    align-items: center;
    justify-content: center;
  }

  .semi {
    order: 1;
  }

  .milk {
    order: 2;
  }

  .nuts {
    order: 3;
  }
}

@media screen and (min-width: 1200px) {
  .feats-page {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .feats-page-list {
    max-width: 100%;
    display: flex;
    gap: 19px;
    flex-direction: row;
  }

  .feats-page-list-item {
    width: calc((100% - 57px) / 4);
  }

  .semi {
    order: 0;
  }

  .nuts {
    order: 0;
  }
  .milk {
    order: 0;
  }
}

/* made-page */

.made-page {
  padding-bottom: 30px;
}

.made-page-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.made-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.made-page-img {
  border-radius: 15px;
}

.made-page-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.made-page-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
}

.made-page-block {
  background-color: #fff;
  padding: 20px 14px;
  border-radius: 15px;
}

.made-page-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

.made-page-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  justify-content: center;
}

.made-page-list-marker {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  flex-shrink: 0;
}

.made-page-list-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .made-page {
    padding-bottom: 40px;
  }

  .made-container {
    gap: 50px;
  }

  .made-page-subtitle {
    max-width: 350px;
  }

  .made-page-block {
    padding: 32px;
    max-width: 614px;
  }

  .made-page-list {
    align-items: start;
  }
}

@media screen and (min-width: 1200px) {
  .made-page-box {
    flex-direction: row;
    gap: 20px;
  }

  .made-page-list {
    gap: 24px;
  }

  .made-page-img {
    max-width: 600px;
  }

  .made-page-block {
    max-width: 516px;
    max-height: 400px;
  }
}

/* review */
.review-page {
  padding-top: 30px;
  padding-bottom: 93px;
}

.review-container {
  width: 100%;
  height: auto;
}

.review-page-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 74px;
}
.review-page-list {
  margin-bottom: 32px;
}

.review-page-list-item {
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  padding-top: 56px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 42px;
}

.review-page-img {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translate(-50%);
}

.review-page-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.review-page-list-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.item-primary {
  display: none;
}

.item-secondary {
  display: none;
}

.review-page-btn {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 12px 28px;
  width: 165px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #111;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.review-page-btn:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

@media screen and (min-width: 768px) {
  .item-primary {
    display: block;
  }
  .review-page-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 94px;
  }

  .review-page-list-item {
    width: calc((100% - 16px) / 2);
  }

  .review-page {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .review-page-title {
    margin-bottom: 91px;
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .item-secondary {
    display: block;
  }

  .review-page-list {
    gap: 28px;
  }
  .review-page-list {
    margin-bottom: 50px;
  }
}

/*  <!--  modal-review --> */
.modal-review {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(51, 0, 51);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-review.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.review-overlay {
  position: relative;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  width: 311px;
  height: auto;
  background-color: #fff;
  padding: 50px 32px 32px;
}

.overlay-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background-color: transparent;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.overlay-close-icon {
  stroke: #000;
}

.overlay-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 32px;
}

.overlay-form-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 14px;
  width: 100%;
  margin-bottom: 14px;
}

.input-container {
  width: 100%;
}

.overlay-label {
  margin-bottom: 4px;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.overlay-input {
  padding: 15px 15px 15px 43px;
  outline: transparent;
  width: 100%;
  height: 45px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: start;
  color: rgba(17, 17, 17, 0.7);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}
.overlay-comment {
  resize: none;
  width: 100%;
  height: 91px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: start;
  color: rgba(17, 17, 17, 0.7);
  padding: 14px 18px;
  outline: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}
.overlay-input-text {
  width: 100%;
}

.overlay-comment::placeholder {
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.overlay-input-icon {
  position: relative;
}

.input-icon {
  stroke: #404040;
  fill: transparent;
  position: absolute;
  top: 14px;
  left: 18px;
}

.label-checkbox {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: start;
}

.policy-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.label-checkbox .form-check {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  cursor: pointer;
}

.policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}
.form-submit-btn {
  border: none;
  border-radius: 100px;
  padding: 12px 28px;
  width: 93px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-container {
  margin-bottom: 32px;
}

.input-checkbox:checked + .label-checkbox .form-check {
  background-color: #fd9222;
  border: none;
  fill: #fff;
}

.overlay-input:hover,
.overlay-comment:hover {
  border: 1.5px solid #fd9222;
}

.overlay-input:hover + .input-icon {
  stroke: #fd9222;
}

.form-submit-btn:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

@media screen and (min-width: 768px) {
  .review-overlay {
    width: 517px;
  }

  .overlay-close-btn {
    top: 24px;
    right: 24px;
  }

  .overlay-form-container {
    gap: 18px;
    margin-bottom: 18px;
  }

  .overlay-comment::placeholder {
    font-size: 18px;
  }

  .overlay-label {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .overlay-text {
    font-size: 24px;
    line-height: 1.167;
    margin-bottom: 40px;
    max-width: 298px;
  }

  .form-submit-btn {
    padding: 14px 40px;
    width: 117px;
    height: 45px;
  }

  .checkbox-container {
    margin-bottom: 40px;
  }

  .overlay-input {
    padding: 22px 24px 22px 62px;
    height: 68px;
  }

  .overlay-comment {
    padding: 22px 24px;
    height: 137px;
  }

  .input-icon {
    width: 24px;
    height: 24px;
    top: 22px;
    left: 24px;
  }
  .overlay-close-icon {
    width: 14px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
}
/* footer */

.footer-page {
  background-color: #1e1823;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #fff;
  width: 256px;
  margin-bottom: 32px;
}
.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-content: center;
  justify-content: start;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: start;
  color: #fff;
  font-style: normal;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: start;
  color: #fff;
  margin-bottom: 14px;
  font-style: normal;
}

.footer-decor {
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 100%;
  margin-bottom: 32px;
}

.footer-address {
  margin-bottom: 32px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 18px;
}

.footer-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-nav {
  margin-bottom: 32px;
}
.footer-input::placeholder {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer-input {
  background-color: #1e1823;
  outline: none;
  border: none;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 14px 18px;
  max-width: 207px;
  height: 45px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-submit-btn {
  border: none;
  border-radius: 100px;
  padding: 14px 24px;
  max-width: 120px;
  height: 45px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.footer-submit-btn:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

.footer-form-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .footer-primary-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-secondary-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer-nav-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }
  .footer-nav-list-item.products,
  .footer-nav-list-item.sellers {
    display: none;
  }

  .footer-decor {
    margin-bottom: 24px;
  }

  .footer-address {
    margin-bottom: 50px;
  }

  .footer-submit-btn {
    max-width: 128px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .footer-input {
    max-width: 232px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-submit-btn {
    max-width: 137px;
    height: 52px;
    padding: 17px 32px;
  }

  .footer-input {
    max-width: 313px;
    height: 52px;
    padding: 14px 24px;
  }
}
